<div data-controller="datatable"
     data-datatable-target="renderElement"
     data-datatable-config-value="<%= config.to_json %>"
     data-datatable-data-value="<%= data.to_json %>"
     data-datatable-style-value="<%= style.to_json %>"
></div>
