<div class="text-center mt-4">
  <div class="btn-group-vertical align-center p-4">
    <%= link_to 'Using Partial', using_partial_path, class: 'btn btn-outline-1 fs-3' %>
    <%= link_to 'Using ViewComponent', using_view_component_path, class: 'btn btn-outline-1 fs-3' %>
  </div>
</div>
